body
{
    background-color: #231f20;
    font-family: Josephin-sans, sans-serif;
    color: white;
}

#Container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    
}

#Header
{
    font-size: 60px;
    padding: 20px;
}

#Name
{
    width: 600px;
    float: left;
}

#Clock
{
    float: left;
}

.square
{
    width: 500px;
    float: left;
}

#Footer
{
    text-align: center;
    padding: 20px;
}

.tiles
{
    float: left;
    margin: 10px;
    width: 230px;
    height: 142px;
    text-align: center;
    font-size: 24px;
    line-height: 180%;
    color: #231f20;
}

.blue { background-color: #7ebdc2; }

.tiles.blue:hover { background-color: #6dacb1;}

.yellow { background-color: #f3dfa2; }

.tiles.yellow:hover { background-color: #e2ce91; }

.red { background-color: #bb4430; }

.tiles.red:hover { background-color: #aa3320; }

#long
{
    width: 480px; 
    background-color: #efe6dd; 
    padding-top: 30px; 
    height:112px;
}

.big_tile
{
    margin: 10px;
    width: 440px;
    height: 264px;
    background-color: #a8a8a8;
    text-align: justify;
    color: #231f20;
    padding: 20px;
    font-size: 24px;
}

.small_tiles
{
    float: left;
    margin: 10px;
    width: 105px;
    height: 142px;
    text-align: center;
}

.github { background-color: #4078c0; }
.github:hover { background-color: #3f67b0; }
.gmail { background-color: #BB001B; }
.gmail:hover { background-color: #aa000a; }
.linkedin { background-color: #0077b5; }
.linkedin:hover { background-color: #0066a4; }
.youtube { background-color: #ff0000; }
.youtube:hover { background-color: #ee1111; }

a.tile_link
{
    color:#231f20;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 142px;
}

a.small_tile_link
{
    color:white;
    text-decoration: none;
    display: block;
    width: 110px;
    height: 142px;
}

a.home_link
{
    color: white;
    text-decoration: none;
    display:block;
    width: 390px;
    height: 70px;
    background-color: #231f20;
}

a.home_link:hover { font-size:102% }

.title
{
    margin: 10px;
    width: 980px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    line-height: 180%;
    color: #231f20;
}

.big_icon
{
    width: 500px;
    text-align: left;
    font-size: 400px;
}

.icons { font-size: 60px; }

ul > li {text-align: justify;}

.bottomline
{
    border-bottom: 2px dashed #7ebdc2;
}
.tech > ul > li { list-style-type: none; }

.level
{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 0px;
    width: 0px;
    border: 5px solid #bb4430;
    border-radius: 50%;
}